{% extends "base.html" %}

{% block title %}Quien la tiene Clara{% endblock %}

{% block css %}
    <link href='{{ MEDIA_URL }}js/plugins/datatables-1.9.4/media/css/jquery.dataTables.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block jss %}

    <script src="{{ MEDIA_URL }}js/plugins/DataTables-1.9.4/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">		
        function confirmar_eliminar_encuesta(id_encuesta){
            $('#idconfelimencuesta').attr('title',id_encuesta);
            $('#confelimencuesta').show();

        };

        function desactivar_encuesta(id_encuesta){
            $.post( '{% url desactivar_encuesta %}',
                    {
                        'encuesta':id_encuesta
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        if(respuesta.estado==1){
                            $("#encuestali_"+id_encuesta).remove()
                            $('#confelimencuesta').hide();
                        }
                    });
        };

        function ver_preguntas(encuesta){
            $.post( '/quien_la_tiene_clara/ver_preguntas/',
                    {
                        'encuesta_id':encuesta
                    },
                    function(respuesta){
                        //alert("trayendo preguntas ve");
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas).fadeIn();
						$('.data_moludos').slideUp();
                        //alert("preguntas puestas alla abajo");
						$('.volver_modulos').css('display','inline');
                    });
        };

        function agregar_pregunta(encuesta){
            $.post( '/quien_la_tiene_clara/agregar_pregunta/',
                    {
                        'encuesta_id':encuesta,
                        'nombre':$('#nombre_pregunta').val(),
                        'grupo':$('#grupo_id_new option:selected').val(),
                        'res1':$('#resp1').val(),
                        'res2':$('#resp2').val(),
                        'res3':$('#resp3').val(),
                        'res4':$('#resp4').val(),
                        'correcta':$('#id_correcta_new option:selected').val()
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $("#npre_"+$("#encuesta_seleccionada").attr('title')).html(respuesta.numero_preguntas+" Preguntas")
                        $('#preguntas').html(preguntas);
                    });
        };

        function eliminar_pregunta(pregunta){
            $.post( '/quien_la_tiene_clara/eliminar_pregunta/',
                    {
                        'pregunta_id':pregunta
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $("#npre_"+$("#encuesta_seleccionada").attr('title')).html(respuesta.numero_preguntas+" Preguntas");
                        $('#preguntas').html(preguntas);
                    });
        };

        function agregar_encuesta(){
			if($('#encuesta_nombre').val()!=""){
            $("#addencu").show()
            $.post( '/quien_la_tiene_clara/agregar_encuesta/',

                    {
                        'nombre':$('#encuesta_nombre').val()
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        idencuesta=respuesta.id
                        $('.data_moludos').prepend("<li class='s_0'><div class='icon_data'><input class='cambiador fleft' id='update_1_"+idencuesta+"' onchange='update("+idencuesta+",1)' value='"+$('#encuesta_nombre').val()+"'><div class='fright'><span class='font-pq fleft'><div id='npre_"+idencuesta+"'>0 Preguntas</div></span><div onclick='ver_preguntas("+idencuesta+")' class='fleft bot_verde ver_modulos radius'>Ver</div><div onclick='confirmar_eliminar_encuesta("+idencuesta+")' class='fleft bot_rojo ver_modulos radius'>Eliminar</div></div></div></li>");
                        $('#addencu').hide()
                        $('#preguntas').html(preguntas);
                    });
			}else{
				$('#modulo_error').html('Ingresar un nombre para la encuesta').fadeIn();
			}
        };

        /*function agregar_nivel(){
            $.post( '/quien_la_tiene_clara/agregar_nivel/',
                    {
                        'nombre':$('#nivel_nombre').val(),
                        'encuesta':$('#encuesta_seleccionada').html()
                    },
                    function(respuesta){
                        alert("trayendo preguntas ve");
                        respuesta=eval(respuesta);

                        $('#tabla_niveles > tbody:first').append('<tr><td>'+$('#nivel_nombre').val()+'</td></tr>');
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas);
                        alert("preguntas puestas alla abajo");
                    });
        };*/

        function update(id_objeto,tipo){
            $.post( '/quien_la_tiene_clara/update/',
                    {
                        'id':id_objeto,
                        'tipo':tipo,
                        'nombre':$('#update_'+tipo+'_'+id_objeto).val(),
                        'encuesta':$('#encuesta_seleccionada').attr('title')
                    },
                    function(respuesta){

                        respuesta=eval(respuesta);

                        if (respuesta.estado==1){
                            preguntas=respuesta.preguntas;
                            $('#preguntas').html(preguntas);
                        }


                    });
        };

        function update_selects(id_objeto,tipo){
            $.post( '/quien_la_tiene_clara/update_selects/',
                    {
                        'id':id_objeto,
                        'tipo':tipo,
                        'id_cambio':$('#updates_'+tipo+'_'+id_objeto).find('option:selected').attr("id_cambio"),
                        'encuesta':$('#encuesta_seleccionada').attr('title')

                    },
                    function(respuesta){

                        respuesta=eval(respuesta);

                        if (respuesta.estado==1){
                            preguntas=respuesta.preguntas;
                            $('#preguntas').html(preguntas);
                        }

                    });
        };
		$(document).ready(function() {
			$(".contenido").on('focus', '.cambiador', function(event){
				$(this).css('background-color','#fff');
			});
			$(".contenido").on('focusout', '.cambiador', function(event){
				console.log($(this))
				$(this).removeAttr('style');
			});	
			
        });
		
		function ocultar_preguntas(){			
			$('#preguntas').slideUp();
			$('.data_moludos').slideDown()
		}


    </script>
{% endblock %}

{% block contenido %}
    <div class="spacer menu_line m-top50"></div>
    <div class="standar">
        <div class="contenido">
            <div id="escoger">
                <div class="tit-modulos">
                    <div class="font-pq" style="color:#006633;">Seleccionar y/o Agregar Modulos de preguntas</div>
                    <div class="font-gd">Módulo de Preguntas</div>
                    
               		<div onclick="$('#addencu').show()" class="fleft bot_verde ver_modulos radius" style="margin:0;">Agregar Modulo</div>
                </div>	

                <ul class="data_moludos">
                    {% for i in encuestas %}
                         <li id="encuestali_{{ i.id }}" class="s_0">
                         	<div class="icon_data">
                                <input class="cambiador fleft" id="update_1_{{ i.id }}" onchange="update({{ i.id }},1)" value="{{ i.nombre }}"> 
                                <div class="fright">
                                    <span class="font-pq fleft">
                                        <div id="npre_{{ i.id }}">{{ i.numero_de_preguntas }} Preguntas</div>
                                    </span>
                                    <div onclick="ver_preguntas({{ i.id }})" class="fleft bot_verde ver_modulos radius">Ver</div>
                                    <div onclick="confirmar_eliminar_encuesta({{ i.id }})" class="fleft bot_rojo ver_modulos radius">Eliminar</div>
                                </div>

                            </div>
                         </li>
                    {% endfor %}
                        
                </ul>
            </div>
       	</div>
    </div>
    
    <!--<table id="tabla_encuestas" border="1">
        <thead>
            <tr>
                <th>nombre</th>
                <th>numero de preguntas</th>
                <th>ver preguntas</th>
            </tr>
        </thead>
        <tbody>
        {% for i in encuestas %}
            <tr>
                <td><input id="update_1_{{ i.id }}" onchange="update({{ i.id }},1)" value="{{ i.nombre }}"></td>
                <td>{{ i.numero_de_preguntas }}</td>
                <td><div onclick="ver_preguntas({{ i.id }})">ver preguntas</div></td>
            </tr>
        {% endfor %}
        <tr>
            <td><input id="encuesta_nombre" type="text"></td>
            <td> </td>
            <td><input type="button" id="agregar_encuesta" onclick="agregar_encuesta()"></td>
        </tr>
        </tbody>
    </table>

    <!--<table id="tabla_niveles" border="1">
        <thead>
        <tr>
            <th>nombre</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in niveles %}
            <tr>
                <td>{{ i.nombre }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td><input id="nivel_nombre" type="text"></td>
            <td><input type="button" id="agregar_nivel" onclick="agregar_nivel()"></td>
        </tr>
        </tbody>
    </table>-->

    <div id="addencu" style="display: none;">
    	<div class="cont_agregar">
        	<h1>Agregar Nuevo Modulos</h1>
            <h2>Modulos de preguntas</h2>
            <label>Nombre:</label> 
            <input class="font_input" type="text" id="encuesta_nombre" />
           	<p id="modulo_error" class="error">Porfavor Ingresar una cedula valida</p>
            <hr />
            <input class="bot_verde radius fright"  type="button" value="Aceptar" onclick="agregar_encuesta()" />
            <input class="bot_rojo radius fright" style="margin-right:10px;" type="button" value="Cancelar" onclick="$('#addencu').hide()" />
        </div>
    </div>

    <div id="confelimencuesta">
    	<div class="cont_eliminar">
        	<h2 style="color:#000;">Seguro que desea Eliminar El Modulo?</h2>
            <div id="idconfelimencuesta" title="-1" style="display: none;"></div>
            <input class="bot_verde radius fright" type="button" value="Aceptar" onclick="desactivar_encuesta($('#idconfelimencuesta').attr('title'))">
            <input class="bot_rojo radius fright" style="margin-right:10px;" type="button" value="Cancelar" onclick="$('#confelimencuesta').hide()" >
        </div>
    </div>

    <div class="standar">
        <div class="contenido">
            <div id="preguntas">
                <div id="encuesta_seleccionada" title="-1"></div>
            </div>
    	</div>
    </div>
{% endblock %}

