{% extends "base.html" %}

{% block title %}Quien la tiene Clara{% endblock %}

{% block css %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function ver_preguntas(encuesta){
            $.post( '/encuestas/ver_preguntas/',
                    {
                        'encuesta_id':encuesta
                    },
                    function(respuesta){
                        //alert("trayendo preguntas ve");
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas).fadeIn();
						$('.data_moludos').slideUp();
                        //alert("preguntas puestas alla abajo");
                    });
        };

        function agregar_pregunta(encuesta){
            $.post( '/encuestas/agregar_pregunta/',
                    {
                        'encuesta_id':encuesta,
                        'nombre':$('#nombre_pregunta').val(),
                        'grupo':$('#grupo_id_new option:selected').val(),
                        'res1':$('#resp1').val(),
                        'res2':$('#resp2').val(),
                        'res3':$('#resp3').val(),
                        'res4':$('#resp4').val(),
                        'correcta':$('#id_correcta_new option:selected').val()
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas);
                    });
        };

        function eliminar_pregunta(pregunta){
            $.post( '/encuestas/eliminar_pregunta/',
                    {
                        'pregunta_id':pregunta
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas);
                    });
        };

        function agregar_encuesta(){
            $.post( '/encuestas/agregar_encuesta/',
                    {
                        'nombre':$('#encuesta_nombre').val()
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        preguntas=respuesta.preguntas;
                        idencuesta=respuesta.id
                        $('#tabla_encuestas > tbody:first').append('<tr><td>'+$('#encuesta_nombre').val()+'</td><td>0</td><td><div onclick="ver_preguntas('+idencuesta+')">ver preguntas</div></td></tr>');
                        $('#preguntas').html(preguntas);
                    });
        };

        /*function agregar_nivel(){
            $.post( '/encuestas/agregar_nivel/',
                    {
                        'nombre':$('#nivel_nombre').val(),
                        'encuesta':$('#encuesta_seleccionada').html()
                    },
                    function(respuesta){
                        alert("trayendo preguntas ve");
                        respuesta=eval(respuesta);

                        $('#tabla_niveles > tbody:first').append('<tr><td>'+$('#nivel_nombre').val()+'</td></tr>');
                        preguntas=respuesta.preguntas;
                        $('#preguntas').html(preguntas);
                        alert("preguntas puestas alla abajo");
                    });
        };*/

        function update(id_objeto,tipo){
            $.post( '/encuestas/update/',
                    {
                        'id':id_objeto,
                        'tipo':tipo,
                        'nombre':$('#update_'+tipo+'_'+id_objeto).val(),
                        'encuesta':$('#encuesta_seleccionada').html()
                    },
                    function(respuesta){

                        respuesta=eval(respuesta);

                        if (respuesta.estado==1){
                            preguntas=respuesta.preguntas;
                            $('#preguntas').html(preguntas);
                        }


                    });
        };

        function update_selects(id_objeto,tipo){
            $.post( '/encuestas/update_selects/',
                    {
                        'id':id_objeto,
                        'tipo':tipo,
                        'id_cambio':$('#updates_'+tipo+'_'+id_objeto).find('option:selected').attr("id_cambio"),
                        'encuesta':$('#encuesta_seleccionada').html()

                    },
                    function(respuesta){

                        respuesta=eval(respuesta);

                        if (respuesta.estado==1){
                            preguntas=respuesta.preguntas;
                            $('#preguntas').html(preguntas);
                        }

                    });
        };
		$(document).ready(function() {
			$(".contenido").on('focus', '.cambiador', function(event){
				$(this).css('background-color','#fff');
			});
			$(".contenido").on('focusout', '.cambiador', function(event){
				console.log($(this))
				$(this).removeAttr('style');
			});	
			
        });
		
		function ocultar_preguntas(){			
			$('#preguntas').slideUp();
			$('.data_moludos').slideDown()
		}
    </script>
{% endblock %}

{% block contenido %}
    <div class="spacer menu_line m-top50"></div>
    <div class="standar">
        <div class="contenido">
            <div id="escoger">
                <div class="tit-modulos">
                    <div class="font-pq" style="color:#006633;">Seleccionar y/o Agregar Modulos de preguntas</div>
                    <div class="font-gd">Módulo de Preguntas</div>
                    <!--<div style="float:right;"><span>Seleccionar todo</span> <span>Deseleccionar</span></div>-->
                    
                </div>
                <ul class="data_moludos">
                    {% for i in encuestas %}
                         <li class="s_0">
                         	<div class="icon_data">
                                <input class="cambiador fleft" id="update_1_{{ i.id }}" onchange="update({{ i.id }},1)" value="{{ i.nombre }}"> 
                                <div class="fright"><span class="font-pq fleft">{{ i.numero_de_preguntas }} Preguntas</span>
                                <div onclick="ver_preguntas({{ i.id }})" class="fleft bot_verde ver_modulos radius">Ver</div></div>
                            </div>
                         
                         </li>
                    {% endfor %}
                        
                </ul>
            </div>
       	</div>
    </div>
    
    <!--<table id="tabla_encuestas" border="1">
        <thead>
            <tr>
                <th>nombre</th>
                <th>numero de preguntas</th>
                <th>ver preguntas</th>
            </tr>
        </thead>
        <tbody>
        {% for i in encuestas %}
            <tr>
                <td><input id="update_1_{{ i.id }}" onchange="update({{ i.id }},1)" value="{{ i.nombre }}"></td>
                <td>{{ i.numero_de_preguntas }}</td>
                <td><div onclick="ver_preguntas({{ i.id }})">ver preguntas</div></td>
            </tr>
        {% endfor %}
        <tr>
            <td><input id="encuesta_nombre" type="text"></td>
            <td> </td>
            <td><input type="button" id="agregar_encuesta" onclick="agregar_encuesta()"></td>
        </tr>
        </tbody>
    </table>

    <!--<table id="tabla_niveles" border="1">
        <thead>
        <tr>
            <th>nombre</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in niveles %}
            <tr>
                <td>{{ i.nombre }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td><input id="nivel_nombre" type="text"></td>
            <td><input type="button" id="agregar_nivel" onclick="agregar_nivel()"></td>
        </tr>
        </tbody>
    </table>-->
    <div class="standar">
        <div class="contenido">
            <div id="preguntas">
                <div id="encuesta_seleccionada"></div>
            </div>
    	</div>
    </div>
{% endblock %}