{% extends "base.html" %}

{% block title %}Quien la tiene Clara{% endblock %}

{% block css %}

{% endblock %}

{% block scripts %}

    <script language="javascript">
        var session=Math.random();
        function alertando(printed){
            console.log(printed);
        };

        function xmlencuesta(){
			
			var encuestas=new Array();
			
			$('.s_1').each(function(){
                encuestas.push($(this).attr('id'))
			})
            $.post( '{% url xmljuego %}',
				{
                    'aleatorio':session,
					'encuestas[]':encuestas
				},
				function(respuesta){
					console.log(respuesta)
				});
        };
		
		function mostrar_reinicio(){			
            $('#userlog').show()
			$('#cedula').val('').focus();	
		}
		
		function concurin(){ //Inicio del Consurso

            $('#userlog').hide();
			$('#form_cedula').show();	
			$('#nombre_encontrado').hide();	
			$('#preguntas').slideUp(function(){				
				$('#juego_swf').slideDown(500,function(){
					$('.bg-nombre').css('display','block')
					$('#juego_swf .object').slideDown()
				})
			});
			$('.spacer').animate({
				'height':0
			});	
			
		}
		function concurout(){
			$('#form_cedula').show();	
			$('#nombre_encontrado').hide();	
		};
		function formin(){
            $('#userreg').show();		
		};
		function formout(){
            $('#userreg').hide();		
		};

        function crearxmlcedula(cedula){
            $.post( '{% url xmlcedula %}',
                    {
                        'aleatorio':session,
                        'cedula':cedula
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        if (respuesta.estado==1){alert("xml creado");}
                    });
					alert(session)
        };

        function userauth(){
            cedula= $('#cedula').val();
			if(cedula!=""){
            	$.post( '{% url userlog %}',
                    {
                        'cedula':cedula
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        if (respuesta.estado==1){
							
                            html=respuesta.html;
                           	$('#form_cedula').hide();
                            $('#nombre_encontrado').show().find('#poner_nombre').html(respuesta.nombre);
                            crearxmlcedula(cedula);
							$('#flashvar').attr('value','id='+session+'&nombre='+respuesta.nombre);
							$('#embed_flashvar').attr('Flashvars','id='+session+'&nombre='+respuesta.nombre);
							
							alert($('#flashvar').attr('value')+' sesion  '+session	+''+$('#embed_flashvar').attr('Flashvars'));
                            //$('#userlog').hide();
                        }
                        else
                        {
							$('#cedula_error').html('Cedula no encontrada').fadeIn();
                           	// $('#userlog').hide();
                          	//$('#userreg').delay(3000).show();

                        }
                    });
			}else{
				$('#cedula_error').html('Porfavor Ingresar una cedula valida').fadeIn();
				 $('#cedula').focus();
				
			}
        };

        function userreg(){
            cedula= $('#cedulareg').val();
            nombre= $('#nombrereg').val();
            apellidos= $('#apellidoreg').val();
            sexo= $('#sexoreg option:selected').val();
            $.post( '{% url userreg %}',
                    {
                        'cedula':cedula,
                        'nombre':nombre,
                        'apellidos':apellidos,
                        'sexo':sexo
                    },
                    function(respuesta){
                        respuesta=eval(respuesta);
                        if (respuesta.estado==1){
                            html=respuesta.html;
                            $('#userreg').hide();
                        }
                        else
                        {
                            $('#userlog').hide();
                            $('#userreg').show();

                        }
                    });
        };

    </script>

    <script src="{{ MEDIA_URL }}js/swfobject_modified.js" type="text/javascript"></script>
    <script>
		
		
        $().ready(function() {
			//$('#flashvar').attr('value','id='+session+',&nombre='+respuesta.nombre)
            $('.data_moludos li').hover(function(){
                if($(this).attr('class')=='s_0')
                $(this).fadeTo('fast', 0.5);
            },function(){
                if($(this).attr('class')=='s_0')
                $(this).fadeTo(100, 1);
            })
            $('.data_moludos li').click(function(){	
                if($(this).attr('class')=='s_0'){
                    $(this).fadeTo(100, 1);
                    $(this).attr('class','s_1');
                }else{
                    $(this).fadeTo(100, 0.5);
                    $(this).attr('class','s_0');
                }
            })
            $('#bot_iniciar').click(function(){
				xmlencuesta();
                $('#userlog').show()
            })
        });
    </script>
{% endblock %}

{% block contenido %}
    <div class="spacer menu_line m-top50"></div>
    <div id="preguntas" class="standar">
        <div class="contenido">
            <div id="bot_iniciar"></div>
            <div id="escoger">
                <div class="tit-modulos">
                    <div class="font-pq" style="color:#006633;">Seleccionar tipos de preguntas</div>
                    <div class="font-gd">Módulo de Preguntas</div>
                    <div style="font:12px 'PT Sans', sans-serif; color:#b63032;">Recuerda seleccionar solo los tipos que van a aparecer en el Juego</div>
                    <!--<div style="float:right;"><span>Seleccionar todo</span> <span>Deseleccionar</span></div>-->
                </div>
                <ul class="data_moludos">
                    {% for encuesta in encuestas %}
                        <li id="encu_{{ encuesta.id }}" class="s_0"><div class="icon_data">{{ encuesta.nombre }}<span class="font-pq">{{ encuesta.descripcion|default:" " }}</span></div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="juego_swf">
        <div id="juego">
            <div id="bg-windows">
                <div class="object">                	
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="500" align="top" id="QLTC">
                        <param name="movie" name="{{ MEDIA_URL }}swf/quien_la_tiene_clara.swf" />
                        <param name="quality" value="high" />
                        <param name="wmode" value="transparent" />
                        <param name="swfversion" value="15.0.0.0" />
                        <param id="flashvar" name="FlashVars" value="" />
                        <embed id="embed_flashvar" src="{{ MEDIA_URL }}swf/quien_la_tiene_clara.swf" width="100%" height="500" FlashVars="" />
                    </object>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-nombre stardar">
        <div class="nombre"></div>
    </div>
    <div id="userlog">
        <div id="form">
            <h1>Nuevo concursante</h1>
            <h2>Ingresar la cedula del nuevo conursante</h2>
            <div class="clear" style="width:243px; margin:0 auto;">
            	<div id="form_cedula">	
                    <label class="uppercased arial font14">Cedula:</label> <input id="cedula" type="text" name="cedula" />
                    <p id="cedula_error" class="error">Porfavor Ingresar una cedula valida</p>
                    <div class="clear"></div>
                    <hr />
                    <input class="bot_azul radius fright" type="button" name="submit" value="Buscar" onclick="userauth()" />
                    <input class="bot_verde radius fright" type="button" name="submit" value="registar" onclick="formin()" style="margin-right:10px;" />
                </div>
                <div class="clear"></div>
                <div id="nombre_encontrado">
                	<div><h3>Concursante</h3></div>
                	<div><h1 id="poner_nombre">Cristian Vaca</h1></div>
                	<hr />
                	<input class="bot_azul radius fright" type="button" name="submit" value="Entrar" onclick="concurin()" />
                	<input class="bot_rojo radius fright" type="button" name="submit" value="Cancelar" onclick="concurout()" style="margin-right:10px;" />
                </div>
        	</div>
        </div>
    </div>

    <div id="userreg">
        <div id="formreg">
            <h1>Nuevo Registro</h1>
            <h2>Registrar nuevo conursante</h2>
            <ul class="clear">
                <li>
                <label>Cedula:</label>
                <input class="font_input" id="cedulareg" type="text" name="cedula" />
                </li>
                <li>
                <label>Nombre:</label> 
                <input class="font_input" id="nombrereg" type="text" name="nombre" />
                </li>
                <li>
                <label>Apellidos:</label> 
                <input class="font_input" id="apellidoreg" type="text" name="apellidos" />
                </li>
                <li>
                <label>Sexo:</label> 
                <select name="sexo" id="sexoreg">
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                </select>
                </li>
                <li>
                <label>Cargo:</label> 
                <input class="font_input" id="cargoreg" type="text" name="cargo" />
                </li>
                <li>
                <label>Dependecia:</label> 
                <input class="font_input" id="dependenciareg" type="text" name="dependencias" />
                </li>
                <div class="clear"></div>
                <hr />
                <input class="bot_verde radius fright" type="button" name="submit" value="Registrar" onclick="userreg()" />
                <input class="bot_rojo radius fright" type="button" name="submit" value="Cancelar" onclick="formout()" style="margin-right:10px;" />
            </ul>
        </div>
    </div>


    </body>
{% endblock %}