<script type="text/javascript">

</script>
<div id="encuesta_seleccionada" style="display: none;">{{ encuesta.id }}</div>
<br>
<br>
Modulo: {{ encuesta.nombre }} <div onclick="ocultar_preguntas()" class="bot_verde ver_modulos radius">Volver</div></div>
<br>
<br>
<table border="1" bgcolor="#FFFFFF">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>Nivel</th>
            <th>respuesta1</th>
            <th>respuesta2</th>
            <th>respuesta3</th>
            <th>respuesta4</th>
            <th>correcta</th>
            <th>agregar o eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for i in preguntas %}
        <tr>
            <td>
                <input id="update_3_{{ i.id }}" onchange="update({{ i.id }},3)" value="{{ i.nombre }}">
            </td>
            <td>
                <select id='updates_1_{{ i.id }}' name="grupo" onchange="update_selects({{ i.id }},1)">
                    {% for h in grupos %}
                        <option id_cambio="{{ h.id }}" value="{{ h.id }}" {% if h.id == i.grupo.id %} selected="selected" {% endif %}>{{ h.nombre }}</option>
                    {% endfor %}
                </select>
            </td>
            {% for j in i.respuestas %}
                <td {% if j.es_correcta %}bgcolor="yellow" {% endif %}>
                    <input id="update_4_{{ j.id }}" onchange="update({{ j.id }},4)" value="{{ j.nombre }}">
                </td>
            {% endfor %}

            <td>
                <select id='updates_2_{{ i.id }}' name="correcta" onchange="update_selects({{ i.id }},2)" >
                    {% for j in i.respuestas %}
                        <option id_cambio="{{ j.id }}" value="{{ forloop.counter0 }}" {% if j.es_correcta %} selected="selected" {% endif %} >respuesta {{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="submit" value="eliminar" onclick="eliminar_pregunta({{ i.id }})">
            </td>
        </tr>
        {% endfor %}

<!--AQUI VA LO DE LA PREGUNTA NUEVA-->
        <tr>
            <td><input id="nombre_pregunta" type="text" name="nombre"></td>
            <td>
                <select id='grupo_id_new' name="grupo">
                    {% for i in grupos %}
                        <option value="{{ i.id }}">{{ i.nombre }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input id='resp1' type="text" name="res1"></td>
            <td><input id='resp2' type="text" name="res2"></td>
            <td><input id='resp3' type="text" name="res3"></td>
            <td><input id='resp4' type="text" name="res4"></td>
            <td>
                <select id='id_correcta_new' name="correcta">
                    <option value="0">respuesta 1</option>
                    <option value="1">respuesta 2</option>
                    <option value="2">respuesta 3</option>
                    <option value="3">respuesta 4</option>
                </select>
            </td>
            <td>
                <input type="submit" value="guardar" onclick="agregar_pregunta({{ encuesta.id }})">
            </td>
        </tr>
    </tbody>
</table>



