<script type="text/javascript">
    function confirmar_eliminar(id_pregunta){
        $('#idconfelim').attr('title',id_pregunta);
        $('#confelim').show();

    };
    $(document).ready(function() {
        $('#tablapregunas').dataTable();
    } );
</script>
<div id="encuesta_seleccionada" style="display: none;" title="{{ encuesta.id }}">{{ encuesta.id }}</div>
<br>
<br>
Modulo: {{ encuesta.nombre }} <div onclick="ocultar_preguntas()" class="bot_verde volver_modulos radius">Volver</div></div>
<p></p>
<ul>
	<li><input class="bot_rojo radius fright" type="button" name="submit" value="Nivel 3" style="margin:10px;" /></li>
	<li><input class="bot_rojo radius fright" type="button" name="submit" value="Nivel 2" style="margin:10px;" /></li>
	<li><input class="bot_rojo radius fright" type="button" name="submit" value="Nivel 1" style="margin:10px;" /></li>
</ul>
<br /><br />
<div id="confelim" style="display: none;">
    Seguro que desea Eliminar la Pregunta?
    <div id="idconfelim" title="-1" style="display: none;"></div>
    <input type="button" value="Aceptar" onclick="eliminar_pregunta($('#idconfelim').attr('title'))">
    <input type="button" value="Cancelar" onclick="$('#confelim').hide()" >
</div>

<table id="tablapregunas" border="1" bgcolor="#FFFFFF">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>Nivel</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>√</th>
            <th>agregar o eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for i in preguntas %}
        <tr>
            <td>
                <input id="update_3_{{ i.id }}" onchange="update({{ i.id }},3)" value="{{ i.nombre }}">
            </td>
            <td>
                <select id='updates_1_{{ i.id }}' name="grupo" onchange="update_selects({{ i.id }},1)">
                    {% for h in grupos %}
                        <option id_cambio="{{ h.id }}" value="{{ h.id }}" {% if h.id == i.grupo.id %} selected="selected" {% endif %}>{{ h.nombre }}</option>
                    {% endfor %}
                </select>
            </td>
            {% for j in i.respuestas %}
                <td {% if j.es_correcta %}bgcolor="yellow" {% endif %}>
                    <input id="update_4_{{ j.id }}" onchange="update({{ j.id }},4)" value="{{ j.nombre }}">
                </td>
            {% endfor %}

            <td>
                <select id='updates_2_{{ i.id }}' name="correcta" onchange="update_selects({{ i.id }},2)" >
                    {% for j in i.respuestas %}
                        <option id_cambio="{{ j.id }}" value="{{ forloop.counter0 }}" {% if j.es_correcta %} selected="selected" {% endif %} >respuesta {{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="submit" value="eliminar" title="5" onclick="confirmar_eliminar({{ i.id }})">
            </td>
        </tr>
        {% endfor %}

<!--AQUI VA LO DE LA PREGUNTA NUEVA-->
        <tr>
            <td><input id="nombre_pregunta" type="text" name="nombre"></td>
            <td>
                <select id='grupo_id_new' name="grupo">
                    {% for i in grupos %}
                        <option value="{{ i.id }}">{{ i.nombre }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input id='resp1' type="text" name="res1"></td>
            <td><input id='resp2' type="text" name="res2"></td>
            <td><input id='resp3' type="text" name="res3"></td>
            <td><input id='resp4' type="text" name="res4"></td>
            <td>
                <select id='id_correcta_new' name="correcta">
                    <option value="0">respuesta 1</option>
                    <option value="1">respuesta 2</option>
                    <option value="2">respuesta 3</option>
                    <option value="3">respuesta 4</option>
                </select>
            </td>
            <td>
                <input type="submit" value="guardar" onclick="agregar_pregunta({{ encuesta.id }})">
            </td>
        </tr>
    </tbody>
</table>



